server.port=9090
spring.datasource.url=jdbc:postgresql://localhost:5432/db
spring.datasource.username=****
spring.datasource.password=****
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true

pvpbot.telegram.token=****
pvpbot.proxy.enable=false
pvpbot.proxy.host=****
pvpbot.proxy.port=****
pvpbot.challonge.token=***
pvpbot.challonge.username=****
pvpBot.challonge.curentTournament=****
# need for saving files to db
hibernate.jdbc.use_streams_for_binary=true

logging.path=logs